@tailwind base;
@tailwind components;
@tailwind utilities;

/* body modificato senza @apply per escludere problemi webpack */
body {
  font-family: ui-sans-serif, system-ui, sans-serif;
  color: #1f2937; /* text-gray-800 */
  background-color: #f3f4f6; /* bg-gray-100 */
}
